-- Example 0
12

8
........
../\\....
./..\\...
.\\...\\..
..\\../..
...\\/...
........
........
-- Example 1
7

0
-- Example 2
2498

0
-- Example 3
10

5
./\\..
/./..
\\.\\/\\
.\\../
..\\/.
-- Example 4
26

6
/\\/\\/\\
\\..../
/....\\
\\..../
/....\\
\\/\\/\\/
