-- Example 0
>=!<

10012
-- Example 1
====!====

1111100000
-- Example 2


1
-- Example 3
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


-- Example 4
><<>><=<=>=>

1012101122110
-- Example 5
<<<<<<<<>>>>>>>>>

123456789876543210
-- Example 6
<<<<<<<<!>>>>>>>>>


-- Example 7
><<>><=<=>=>><<>><=<=>=><<<<<<<>>>>>>>>><=<=>=>><<>><=<=>=><<<<<<<>>>>>>>!<<<<<<<<<>>>>>>>>>>


-- Example 8
<<<<<<<<<


-- Example 9
>>>>>>>>>

9876543210
